body, div#notebook{
    font-size:16px;
}

.notebook_app {
    background-color:#fff;
}

#notebook-container {
    -webkit-box-shadow: none;
    box-shadow: none;
}

div.cell.selected {
    border-color: transparent;
}

div.code_cell div.input_area{
    border: none;
    background-color: transparent;
}

div.output_area{
    margin-left:10px;
    border-left: 2px solid rgba(184, 184, 184, 0.40);   
}

pre{
    font-size:14px;
}

.rendered_html pre, .rendered_html code{
    /*    font-size:14px; */
    color: inherit;
}

blockquote.icon_box .large_font{
    color:#42A5F5 !important;
}

h1, h2, h3, h4, h5, h6{
    color:#22527b;
}

div.input_area{
    border: none;
}

.rendered_html h1:first-child,
.rendered_html h2:first-child,
.rendered_html h3:first-child,
.rendered_html h4:first-child,
.rendered_html h5:first-child{
    margin-top: 1px;
}