#ipython_notebook img {
    -webkit-filter: invert(1);
    filter: invert(1);
}

body{
    background: #272822; color: #f8f8f2;    
}

body > #header{
    background: #272822; color: #f8f8f2;
}

.navbar-default{
    background: #272822; color: #f8f8f2;
    border-color: #272822;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border-color: #272822;
    color: #f8f8f2;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus{
    color: #f8f8f2;
}

.dropdown-submenu:hover > a:after{
    color: #f8f8f2;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus{
    color: #272822;				   
}

.dropdown-menu > li > a {
    color: #f8f8f2;				       
}

.dropdown-menu{
    background: #424439;
    color: #f8f8f2;
}

.btn-default, .form-control{
    background: #424439;
    color: #f8f8f2;
    border-color: #57594b;    
}

body > #header .header-bar{
    background: #424439;    
}

.navbar-default .navbar-nav > li > a{
    color: #ddddc0;
}

div#notebook{
    font-size:16px;
    background: #272822; color: #f8f8f2;
}

#notebook-container {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #272822; color: #f8f8f2;
}

.rendered_html{
    color: #f8f8f2;
}

div.text_cell_render{
    color: #f8f8f2;
}

.rendered_html pre, .rendered_html code{
    background: #272822; color: #f8f8f2;
}

div.output_area pre{
    background: #272822; color: #f8f8f2;    
}

div.cell.selected {
    border-color: transparent;
}

div.code_cell div.input_area{
    border: none;
    background-color: transparent;
}

div.output_area{
    margin-left:10px;
    border-left: 2px solid rgba(184, 184, 184, 0.40);   
}

pre{
    font-size:14px;
}

.rendered_html pre, .rendered_html code{
    /*    font-size:14px; */
    color: inherit;
}

a {
    color: #83b3dc;
}


a:hover{
    color: #91bde1;
}

.cm-s-default .cm-link{
    color: #83b3dc;
}

.cm-s-default .cm-comment{
    color: #ffe390;
}
.cm-s-default .cm-quote{
    color: #68ff68;
}

.CodeMirror{
    background-color: #34362e;
    color: #f8f8f2;
}

.cm-s-default .cm-header{
    color: #f8f8f2;    
}

.CodeMirror-cursor{
    border-left: 1px solid #f0f0f0;
}

div.input_area{
    border: none;
}

blockquote.icon_box .large_font{
    color:#42A5F5 !important;
}

/* Based on Sublime Text's Monokai theme */

.cm-s-ipython.CodeMirror { background: #272822; color: #f8f8f2; }
.cm-s-ipython div.CodeMirror-selected { background: #49483E; }
.cm-s-ipython .CodeMirror-line::selection, .cm-s-ipython .CodeMirror-line > span::selection, .cm-s-ipython .CodeMirror-line > span > span::selection { background: rgba(73, 72, 62, .99); }
.cm-s-ipython .CodeMirror-line::-moz-selection, .cm-s-ipython .CodeMirror-line > span::-moz-selection, .cm-s-ipython .CodeMirror-line > span > span::-moz-selection { background: rgba(73, 72, 62, .99); }
.cm-s-ipython .CodeMirror-gutters { background: #272822; border-right: 0px; }
.cm-s-ipython .CodeMirror-guttermarker { color: white; }
.cm-s-ipython .CodeMirror-guttermarker-subtle { color: #d0d0d0; }
.cm-s-ipython .CodeMirror-linenumber { color: #d0d0d0; }
.cm-s-ipython .CodeMirror-cursor { border-left: 1px solid #f8f8f0; }

.cm-s-ipython span.cm-comment { color: #75715e; }
.cm-s-ipython span.cm-atom { color: #ae81ff; }
.cm-s-ipython span.cm-number { color: #ae81ff; }

.cm-s-ipython span.cm-property, .cm-s-ipython span.cm-attribute { color: #a6e22e; }
.cm-s-ipython span.cm-keyword { color: #f92672; }
.cm-s-ipython span.cm-builtin { color: #f92672; }
.cm-s-ipython span.cm-string { color: #e6db74; }

.cm-s-ipython span.cm-variable { color: #f8f8f2; }
.cm-s-ipython span.cm-variable-2 { color: #9effff; }
.cm-s-ipython span.cm-variable-3 { color: #66d9ef; }
.cm-s-ipython span.cm-def { color: #fd971f; }
.cm-s-ipython span.cm-bracket { color: #f8f8f2; }
.cm-s-ipython span.cm-tag { color: #f92672; }
.cm-s-ipython span.cm-header { color: #ae81ff; }
.cm-s-ipython span.cm-link { color: #ae81ff; }
.cm-s-ipython span.cm-error { background: #f92672; color: #f8f8f0; }

.cm-s-ipython .CodeMirror-activeline-background { background: #373831; }
.cm-s-ipython .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}


/*.cm-s-default span.cm-comment { color: #75715e; }*/
.cm-s-default span.cm-atom { color: #ae81ff; }
.cm-s-default span.cm-number { color: #ae81ff; }

.cm-s-default span.cm-property, .cm-s-default span.cm-attribute { color: #a6e22e; }
.cm-s-default span.cm-keyword { color: #f92672; }
.cm-s-default span.cm-builtin { color: #f92672; }
.cm-s-default span.cm-string { color: #e6db74; }

.cm-s-default span.cm-variable { color: #f8f8f2; }
.cm-s-default span.cm-variable-2 { color: #9effff; }
.cm-s-default span.cm-variable-3 { color: #66d9ef; }
.cm-s-default span.cm-def { color: #fd971f; }
.cm-s-default span.cm-bracket { color: #f8f8f2; }
.cm-s-default span.cm-tag { color: #f92672; }
.cm-s-default span.cm-header { color: #ae81ff; }
.cm-s-default span.cm-link { color: #ae81ff; }
.cm-s-default span.cm-error { background: #f92672; color: #f8f8f0; }
