.prompt {
    display: none !important;
}

#notebook-container {
/*    padding-right: 100px !important;  */
}

div.text_cell div.input_area{
    background-color: white !important;
}

div.code_cell div.input_area{
    Background-color: #f0f0f0;
}

.MathJax nobr>span.math>span{border-left-width:0 !important}

pre.scpy3-output{
    padding-left: 20px;
    border-left: 2px solid rgba(184, 184, 184, 0.40);
}

div.scpy3-info-box {
    margin-left:50px;
    margin-right:50px;
    border-radius: 5px;
    border: 2px #ccc solid;
    padding:10px;
}

div.scpy3-info-box blockquote{
    border-bottom: 1px #ccc solid;
    font-weight: bold;
    border-left: none;
    margin: 0px;
    font-size: 110%;
}

.rendered_html h1{
    text-align:center;
}